html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "poppins", serif;
}

input,
textarea,
button {
  font-family: inherit;
}

#root {
  background-color: #e5e5e5;
  width: 650px;
  height: 953px;
  position: relative;
}

.card {
  position: absolute;
  background-color: lightblue;
  width: 550px;
  height: 853px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px 9px 9px 9px;
}

.navbar {
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 3px 7.5px 0px #0000001a;
  border-radius: 9px 9px 0 0;
}

.nav__title {
  padding-top: 22px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 3px;
}

.nav__sitename {
  font-weight: 600;
  color: #ff5a5f;
  font-size: 1.1rem;
}

.hero {
  height: 451px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.hero__image {
  width: 396px;
  height: 232px;
  margin-top: 26px;
  align-self: center;
}

.hero__text {
  margin-top: 33px;
  margin-left: 36px;
}

.hero__title {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.hero__content {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 400;
  width: 320px;
  line-height: 1.1;
}
