html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "poppins", serif;
}

input,
textarea,
button {
  font-family: inherit;
}

p {
  margin: 0;
}

#root {
  background-color: #e5e5e5;
  width: 650px;
  height: 953px;
  position: relative;
}

.card {
  position: absolute;
  width: 550px;
  height: 853px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px 9px 9px 9px;
}

.navbar {
  height: 70px;
  box-shadow: 0 3px 4px -4px #000000;
}

.nav__title {
  padding-top: 22px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 3px;
}

.nav__sitename {
  font-weight: 600;
  color: #ff5a5f;
  font-size: 1.1rem;
}

.hero {
  height: 451px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.hero__image {
  width: 396px;
  height: 232px;
  margin-top: 26px;
  align-self: center;
}

.hero__text {
  margin-left: 36px;
  margin-top: 33px;
}

.hero__title {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  line-height: 1.1;
}

.hero__content {
  margin-top: 15px;
  margin-bottom: 49px;
  font-size: 1rem;
  font-weight: 400;
  width: 320px;
  line-height: 1.1;
}

.activity {
  margin-left: 37px;
  display: flex;
  overflow-x:hidden;
  overflow-y: hidden;
  gap: 18px
}

.activity__card {
  font-size: 12px;
  line-height: 1.1;
  font-weight: 300;
  color: #222222;
  position: relative;
}

.activity__img {
  width: 176px;
  height: 235px;
  border-radius: 9px;
}

.activity__status {
  background-color: #ffffff;
  font-size: 10.25px;
  font-weight: 400;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 61px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity__rating {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.activity__rating__star {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.activity__rating__grey {
  color: #918e9b;
}

.activity__name {
  margin: 8px 0;
}

.activity__price__bold {
  font-weight: 600;
}
